<div class="container mx-auto p-8 bg-gray-50 rounded-lg shadow-lg">
  <h1 class="text-4xl font-bold text-center mb-12 text-gray-800 tracking-wide">
    Nomenclatures disponibles
  </h1>

  <!-- Liste des MBOM -->
  <div *ngIf="mboms.length > 0" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <div
      *ngFor="let mbom of mboms"
      class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition-shadow"
    >
      <h2 class="text-xl font-semibold text-gray-800 mb-4">
        {{ mbom.ref_utilisat }} - {{ mbom.version }}
      </h2>
      <p class="text-gray-600 mb-2">
        <strong>Révision :</strong> {{ mbom.revision }}
      </p>
      <p class="text-gray-600 italic">
        {{ mbom.designation }}
      </p>
      <button
        class="mt-4 bg-[#006F62] text-white py-2 px-4 rounded-lg hover:bg-[#00564C] shadow-md transition-all"
        (click)="navigateToCreation(mbom.num_art)">
        Sélectionner
      </button>
    </div>
  </div>

  <p *ngIf="mboms.length === 0" class="text-center text-gray-500">
    Aucune nomenclature trouvée pour cet objet.
  </p>

  <!-- Sélection du fournisseur et bouton Créer -->
  <div class="mt-12 flex justify-center items-center space-x-4">
    <!-- Champ de sélection -->
    <select
      class="bg-white border border-gray-300 rounded-lg px-3 py-2 text-gray-700 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#006F62] w-1/4"
      [(ngModel)]="selectedSupplier"
    >
      <option [ngValue]="null" disabled selected>Choisir un fournisseur</option>
      <option *ngFor="let supplier of suppliers" [ngValue]="supplier">
        {{ supplier.ref_utilisat }}
      </option>
    </select>

    <!-- Bouton Créer -->
    <button
      class="py-2 px-6 rounded-lg shadow-md transition-all w-1/5 text-lg font-semibold"
      [ngClass]="{
      'bg-[#006F62] text-white hover:bg-[#00564C]': selectedSupplier,
      'bg-gray-300 text-gray-500 cursor-not-allowed': !selectedSupplier
    }"
      [disabled]="!selectedSupplier"
      (click)="createMBOM()"
    >
      Créer
    </button>
  </div>

</div>
