<div class="container mx-auto p-8 bg-gray-50 rounded-lg shadow-lg">
  <!-- Titre principal -->
  <h1 class="text-5xl font-bold text-center mb-12 text-gray-800 tracking-wide">
    {{ selectedJewelry }}
  </h1>

  <div *ngIf="itemInfo" class="text-center text-gray-500 text-sm mt-4">
    <p>
       {{ itemInfo.titrePage }}
    </p>
  </div>


  <!-- Liste verticale centrée -->
  <div class="bg-white rounded-lg shadow-md p-8 max-w-3xl mx-auto">
    <ul class="space-y-6">
      <li *ngFor="let option of customizationOptions" class="flex items-center space-x-6 border-b pb-4">
        <!-- Bouton pour personnaliser -->
        <button
          class="bg-[#d1bfa7] text-white py-2 w-64 rounded-lg hover:bg-[#b5a18c] transition-all shadow-md text-lg font-semibold text-center"
          (click)="onCustomize(option)">
          {{ option }}
        </button>
        <!-- Détails de l'attribut -->
        <div>
          <p *ngIf="selectedOptions[option]" class="text-gray-700">
             {{ selectedOptions[option].reference }} -
             {{ selectedOptions[option].designation }}
          </p>
          <p *ngIf="!selectedOptions[option]" class="text-gray-500 italic">
            Non défini
          </p>
        </div>
      </li>
    </ul>
  </div>

  <!-- Bouton Enregistrer -->
  <div class="flex justify-center mt-12">
    <button
      class="bg-[#006F62] text-white py-3 px-12 rounded-lg hover:bg-[#00564C] shadow-md transition-all text-lg font-semibold"
      (click)="onSave()">
      Enregistrer
    </button>
  </div>

  <!-- Popup Table -->
  <app-popup-table
    [data]="popupData"
    [show]="isPopupVisible"
    (close)="onPopupClose()"
    (selectItem)="onItemSelect($event)">
  </app-popup-table>
</div>
