<div class="container mx-auto p-8 bg-gray-50 rounded-lg shadow-lg">
  <h1 class="text-5xl font-bold text-center mb-8 text-gray-800 tracking-wide">
    {{ selectedJewelry }}
  </h1>

  <!-- Encadré des informations -->
  <div class="border border-gray-300 rounded-lg p-6 bg-white mb-8 shadow-md">
    <h2 class="text-2xl font-semibold mb-4 text-gray-700">Informations du bijou</h2>
    <ul class="text-gray-600">
      <li *ngFor="let option of customizationOptions" class="mb-2">
        <strong class="text-gray-800">{{ option }}:</strong> {{ selectedOptions[option] || 'Non défini' }}
      </li>
    </ul>
  </div>

  <!-- Liste des outils de personnalisation -->
  <h2 class="text-2xl font-semibold mb-4 text-gray-700">Personnaliser</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <button *ngFor="let option of customizationOptions"
            class="bg-[#d1bfa7] text-white py-2 px-4 rounded-lg hover:bg-[#b5a18c] transition-all shadow-md"
            (click)="onCustomize(option)">
      {{ option }}
    </button>
  </div>

  <!-- Bouton Enregistrer -->
  <div class="flex justify-center mt-8">
    <button
      class="bg-[#006F62] text-white py-2 px-6 rounded-lg hover:bg-[#00564C] shadow-md transition-all text-lg font-semibold"
      (click)="onSave()">
      Enregistrer
    </button>
  </div>


  <app-popup-table
    [data]="popupData"
    [show]="isPopupVisible"
    (close)="onPopupClose()"
    (selectItem)="onItemSelect($event)">
  </app-popup-table>
</div>
