@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Appliquer Roboto à tout le texte par défaut */
body {
  font-family: 'Times New Roman', sans-serif;
  color: #333333;
  background-color: #f8f8f8;
}

/* Appliquer Playfair Display uniquement aux titres */
h1, h2, h3, h4, h5, h6, .font-title {
  font-family: 'Playfair Display', serif;
}

/* Forcer une taille uniforme pour les chiffres */
.numbers, td, th {
  font-variant-numeric: tabular-nums;
  font-family: 'Times New Roman', sans-serif;
}


.text-vc-black {
  color: #1a1a1a;
}

.text-vc-gray {
  color: #808080;
}

.bg-vc-white {
  background-color: #ffffff;
}

.border-vc {
  border-color: #cccccc;
}

.btn-primary {
  @apply bg-black text-white py-2 px-4 rounded-lg hover:bg-gray-800 transition;
}

    /*COLEUR VERT STYLE #006F62*/
