<div class="container mx-auto p-8 bg-gray-50 rounded-lg shadow-lg">
  <h1 class="text-5xl font-bold text-center mb-12 text-gray-800 tracking-wide">
    {{ selectedItem }}
  </h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
    <div *ngFor="let subFunction of subFunctions"
         class="block bg-white border border-gray-300 rounded-lg shadow-md hover:shadow-xl hover:scale-105 transition-transform duration-500"
         (click)="navigateToCreation(subFunction)">

      <div class="p-6 text-center">
        <img
          [src]="getImagePath(subFunction)"
          alt="{{ subFunction }}"
          class="h-32 w-full object-cover rounded-lg mb-4">
        <h2 class="text-xl font-semibold text-gray-700 hover:text-gray-800 tracking-tight">
          {{ subFunction }}
        </h2>
      </div>
    </div>
  </div>
</div>
