<div class="container mx-auto p-4">
  <h1 class="text-4xl font-bold text-center mb-8">{{ selectedItem }}</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
    <div *ngFor="let subFunction of subFunctions"
         class="block bg-white border border-gray-200 rounded-lg shadow-md hover:shadow-lg hover:scale-105 transition transform duration-300"
         (click)="navigateToCreation(subFunction)">

      <div class="p-6 text-center">
        <img
          [src]="getImagePath(subFunction)"
          alt="{{ subFunction }}"
          class="h-32 w-full object-cover rounded-lg mb-4">
        <h2 class="text-xl font-semibold text-gray-800">{{ subFunction }}</h2>
      </div>
    </div>
  </div>
</div>

